/* Load Google Fonts Locally */


@font-face {
    font-family: 'Avante';
    font-weight: 700;
    src: url('../font/Avante/ITCAvantGardePro-Bold.otf');
}

@font-face {
    font-family: 'Avante';
    font-weight: 600;
    src: url('../font/Avante/ITCAvantGardePro-Demi.otf');
}

@font-face {
    font-family: 'Avante';
    font-weight: 500;
    src: url('../font/Avante/ITCAvantGardePro-Md.otf');
}

@font-face {
    font-family: 'Avante';
    font-weight: 400;
    src: url('../font/Avante/ITCAvantGardePro-Bk.otf');
}

@font-face {
    font-family: 'Avante';
    font-weight: 300;
    src: url('../font/Avante/ITCAvantGardePro-XLt.otf');
}

@font-face {
    font-family: 'CalSans';
    font-weight: 400;
    src: url('../font/CalSans/CalSans-Regular.ttf') format('truetype');
}


.urbanist {
    font-family: 'Urbanist', sans-serif;
}

.Avante {
    font-family: 'Avante' !important;
}

.cal-sans {
    font-family: 'CalSans', sans-serif !important;
}

body {
    font-family: 'Poppins', sans-serif !important;
    font-size: 13px;
    font-weight: 400;
}

.btn {
    font-family: 'Poppins', sans-serif !important;
    /* font-size: 13px !important; */
    text-transform: capitalize !important;
}


div.dataTables_wrapper div.dataTables_length select {
    width: 100px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 38px;
    width: 100% !important;
    display: block !important;
}

.select2-container .select2-selection--single,
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 40px;
    font-size: 0.8rem;
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
}

.select2-container {
    display: block !important;
    width: 100% !important;
}

a {
    color: var(--bs-black);
}

.form-group {
    margin-bottom: 15px;
}

.btn {
    padding: 0.6rem 2.14rem;
    font-size: 12px;
}

.btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.765625rem;
    border-radius: 3px;
}

.bootbox-body {
    font-size: 18px;
}

.bootbox .modal-header {
    display: none;
}

.form-select {
    padding: .575rem .75rem;
}

.dropdown-item {
    font-size: 12px;
    font-weight: 500;
}

body {
    font-family: 'Avante' !important;
    font-weight: 500;
    /* background-color: #fff; */
}

.profile .profile-header .profile-header-cover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: none;
}

.table>thead>tr>th {
    font-weight: 500;
}

.table>tbody>tr>td {
    font-weight: 500;
}

.table>tbody>tr>td {
    padding-right: 20px;
}

.badge {
    display: inline-block;
    padding: .35em .65em;
    font-size: .75em;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}

.glass {
    filter: blur(9px) !important;
}

.form-control-sm {
    padding: .6rem .5rem;
}

#sidebar .list-group-item.active {
    font-weight: bold;
    color: #fff;
    background-color: #0d47a1;
    border: none;
    border-left: none;
    border-right: none;
}

hr {
    opacity: 1 !important;
}

.nav-pills .nav-link {
    border-radius: 35px !important;
}

.form-control,
.form-select,
.select2-container .select2-selection--single {
    border: 1px solid #ececec;
    border-top-color: rgb(236, 236, 236);
    border-right-color: rgb(236, 236, 236);
    border-bottom-color: rgb(236, 236, 236);
    border-left-color: rgb(236, 236, 236);
    border-radius: 5px;
    height: 40px;
    /* box-shadow: none; */
    /* padding-left: 20px; */
    font-size: 14px;
    width: 100%;

    --bs-border-opacity: 1;
    border-color: rgba(var(--bs-gray-300-rgb), var(--bs-border-opacity)) !important;

    box-shadow: 0 .125rem .25rem rgba(var(--bs-black-rgb), .075) !important;
}

.form-control:focus {
    outline: none !important;
    border-color: var(--primary-color) !important;
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.1) !important;
}


.app-sidebar .menu .menu-item.active:not(.has-sub)>.menu-link {
    color: var(--bs-app-sidebar-menu-link-active-color);
    font-weight: var(--bs-app-sidebar-menu-link-active-font-weight);
}


.bootbox .modal-header {
    display: none;
}

.form-select {
    padding: .575rem .75rem;
}

.dropdown-item {
    font-size: 12px;
    font-weight: 500;
}

body {
    font-family: 'Avante' !important;
    font-weight: 500;
    background-color: #f4f7fb !important;
}

.table>thead>tr>th {
    font-weight: 500 !important;
}

.table>tbody>tr>td {
    font-weight: 500;
}

.table> :not(caption)>*>* {
    color: #000;
}

.table-dark {
    color: #fff;
    background-color: #212529 !important;
}

.table-dark th,
.table-dark td,
.table-dark thead th {
    color: #fff !important;
}


table.dataTable.table-sm .sorting::before,
table.dataTable.table-sm .sorting::after {
    top: auto;
}

i[class^="fi-br-"]::before,
i[class*=" fi-br-"]::before,
span[class^="fi-br-"]::before,
span[class*="fi-br-"]::before {
    line-height: 1.5;
}

i[class^="fi-rr-"]::before,
i[class*=" fi-rr-"]::before,
span[class^="fi-rr-"]::before,
span[class*="fi-rr-"]::before {
    line-height: 1.5;
}

.table-sm> :not(caption)>*>* {
    padding: 7px 7px;
}

.modal-body,
.modal-header,
.modal-footer {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
}

.nav-underline .nav-link.active {
    border-bottom-color: #1f6bff;
}

.card-body {
    color: var(--bs-black);
}

.modal-body {
    color: var(--bs-black);
}

.list-group-item {
    color: var(--bs-black);
}

i[class^="fi-sr-"]::before,
i[class*=" fi-sr-"]::before,
span[class^="fi-sr-"]::before,
span[class*="fi-sr-"]::before {
    font-family: uicons-solid-rounded !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1.8 !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.nav-pills .nav-link {
    border-radius: 8px !important;
}


.datepicker .datepicker-switch,
.datepicker .datepicker-days table thead tr th.dow,
.datepicker .datepicker-days table tbody tr td {
    color: #000 !important;
}


.datepicker .datepicker-days table tbody tr td.active {
    color: #fff !important;
}


.form-label {
    margin-bottom: .5rem;
    font-weight: 500;
    color: #29343d;
}

.dataTables_filter input {
    padding: .25rem .5rem;
    font-size: .765625rem;
    border-radius: 5px;
    border: 1px solid var(--bs-border-color);
}

div.dataTables_wrapper div.dataTables_filter input {
    margin-left: 0.5em;
    display: inline-block;
    width: auto;
}

div.dataTables_wrapper>div.row {
    margin: 0;
}

div.dataTables_wrapper>div.row>div[class^="col-"]:first-child {
    padding-left: 0;
}

div.dataTables_wrapper>div.row>div[class^="col-"]:last-child {
    padding-right: 0;
}
